.CardHeader
  border-top-right-radius: var(--big-block-border-radius)
  border-top-left-radius: var(--big-block-border-radius)
  border-bottom-left-radius: var(--big-block-border-radius-alter)
  border-bottom-right-radius: var(--big-block-border-radius-alter)

  &-Footer
    margin-top: calc(var(--card-header-gap) - var(--card-header-footer-unmargin))
    padding-top: var(--card-header-footer-unmargin)

    border-radius: var(--big-block-border-radius-alter)

    background: radial-gradient(38% 36% at 70% 28%, var(--color-gray-600) 17%, var(--color-gray-900) 100%)

  &-Slogan
    padding: 0 var(--card-header-gap)

  &-SocialButtons
    display: flex

    margin-top: var(--card-header-gap)
    padding: 0 7px 7px 7px

  &-SocialButton
    width: 100%

    &:not(:first-child)
      margin-left: 7px

  &-Top
    position: relative

    display: flex

    padding: var(--big-block-padding-top) 0 var(--big-block-padding-bottom) var(--big-block-padding-right)

    border-radius: var(--big-block-border-radius)
    border: var(--big-block-border-width) solid var(--color-white)

    background: radial-gradient(38% 36% at 70% 28%, var(--color-gray-600) 17%, var(--color-gray-900) 100%)

    box-shadow: 0px var(--shadow-m-y) var(--shadow-m-radius) var(--shadow-500)

  &-Username
    display: flex
    flex-direction: column
    justify-content: center

    vertical-align: middle

    flex-grow: 1


