.Card
  min-height: 100vh
  padding: var(--page-padding) var(--page-padding) 0

  &_Theme
    &_beige
      background: #FBCEB5

    &_black
      background: radial-gradient(38% 36% at 70% 28%, var(--color-gray-600) 17%, var(--color-gray-900) 100%)

    &_blue
      background: radial-gradient(59.27% 66.56% at 82.67% 3.46%, #53ACFF 15.63%, #5AB0FF 58.85%, #2C54E1 100%)

    &_dark
      background: linear-gradient(87.91deg, #262626 16.59%, #000000 109.96%)

    &_dark-blue
      background: linear-gradient(360deg, #000428 0%, #004E92 105.94%)

    &_gray
      background: linear-gradient(359.29deg, #A4A4A4 -9.95%, #CBCBCB 24.53%, #FFFFFF 118.15%)

    &_green
      background: linear-gradient(180deg, #06DF57 0%, #18AD00 100%)

    &_lime
      background: linear-gradient(124.02deg, #C0FF8B 6.4%, #4DD750 82.15%)

    &_orange
      background: linear-gradient(90deg, #FF9900 0%, #FFDE2E 100%)

    &_peach
      background: linear-gradient(90deg, #FF6363 0%, #FFEE9A 100%)

    &_pink
      background: linear-gradient(180deg, #FD9596 0%, #F7579D 100%)

    &_purple
      background: linear-gradient(292.09deg, #1E00C6 0%, #9025FC 100%)

    &_red
      background: linear-gradient(140.93deg, #FC5A44 9.95%, #C41432 85.55%)

    &_silver
      background: radial-gradient(79.84% 79.84% at 62.47% 53.03%, #FBFBFB 0%, #848993 100%)
