.Icon
  display: inline-block

  background-size: cover
  background-repeat: no-repeat

  &_Type
    &_telegram
      background-image: url('./icons/telegram.svg')

    &_whatsapp
      background-image: url('./icons/whatsapp.svg')

  &_Size
    &_m
      height: var(--icon-size-m)
      width: var(--icon-size-m)
