.RestorePasswordPage
  box-sizing: border-box
  min-height: 100vh
  padding: var(--page-padding) var(--page-padding) 0

  background: var(--page-background)

  &-Back
    display: flex
    align-items: center

  &-BackIcon
    margin-right: var(--page-restore-password-back-gap)

  &-Form
    margin: 0
    padding: 0

  &-Header
    display: flex
    align-items: center
    justify-content: space-between

  &-SubmitButton
    margin-top: var(--page-forgot-form-submit-space)

  &-Subtitle
    margin: var(--page-forgot-subtitle-space) 0 var(--page-forgot-form-space)

    overflow: hidden

  &-Title
    margin: var(--page-forgot-title-space) 0 0
