.Typo
  &_Size
    &_xxs
      font-size: var(--su-typo-font-xxs)
      line-height: var(--su-typo-line-xxs)

    &_xs
      font-size: var(--su-typo-font-xs)
      line-height: var(--su-typo-line-xs)

    &_s
      font-size: var(--su-typo-font-s)
      line-height: var(--su-typo-line-l)

    &_m
      font-size: var(--su-typo-font-m)
      line-height: var(--su-typo-line-m)

    &_l
      font-size: var(--su-typo-font-l)
      line-height: var(--su-typo-line-xl)

    &_xxl
      font-size: var(--su-typo-font-xxl)
      font-line: var(--su-typo-line-xxl)

    &_xxxl
      font-size: var(--su-typo-font-xxxl)
      line-height: var(--su-typo-line-xxxl)
      font-weight: var(--su-typo-weight-m)

    &_super
      font-size: var(--su-typo-font-super)
      line-height: var(--su-typo-line-super-l)

    &_super-l
      font-size: var(--su-typo-font-super-l)
      line-height: var(--su-typo-line-super-l)
      font-weight: var(--su-typo-weight-m)

