.Divider
  position: relative
  z-index: 1

  margin: 0 calc(-1 * var(--page-padding) + var(--divider-padding))

  text-align: center

  &-Hr
    position: absolute
    top: 50%
    z-index: -1

    height: 1px
    width: 100%
    margin: 0

    border: none

    background: var(--divider-color)

  &-Text
    display: inline-block

    padding: var(--divider-text-v-padding) var(--divider-text-h-padding)

    border-radius: 999px

    color: var(--divider-text-color)
    text-transform: uppercase

    background: linear-gradient(148.41deg, var(--divider-color) 33.22%, var(--divider-text-background) 90.77%);
