.TextInput
  &-Input
    width: 100%
    padding: var(--text-input-space) 0

    border: none
    outline: none

    background: transparent

    font-family: -apple-system, BlinkMacSystemFont, sans-serif
    font-size: var(--su-typo-font-xxl)
    line-height: var(--su-typo-line-xxl)

    &::placeholder
      color: var(--form-field-placeholder-color)

    &_Mode
      &_Multiline
        min-height: 25px
        padding-bottom: 0
        &:not(:placeholder-shown)
          font-size: var(--su-typo-font-m)
          line-height: var(--su-typo-line-l)

  &:after
    display: block
    content: ''

    height: var(--text-input-border-width)

    border-radius: var(--text-input-border-width)

    background: var(--text-input-border-color)
