html
  overflow-x: hidden

body
  position: relative
  max-width: 100vw
  margin: 0

  overflow-x: hidden

  font-family: -apple-system, BlinkMacSystemFont, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

:root
  --border-radius-m: 7px
  --border-radius-l: 13px
  --border-radius-xxl: 28px
  --border-radius-xxxl: 36px

  --border-width-s: 2px
  --border-width-m: 3px

  --color-black: #000

  --color-blue-100: #2fa9ed
  --color-blue-300: #0047ff

  --color-gray-200: #dadada
  --color-gray-400: #adadad
  --color-gray-600: #3f3e3e
  --color-gray-700: #262626
  --color-gray-900: #010101

  --color-green-100: #06df57
  --color-green-300: #18ad00

  --color-white: #f7f7f7

  --font-size-s: 13px
  --font-size-m: 15px
  --font-size-l: 18px
  --font-size-xl: 20px
  --font-size-xxxl: 26px

  --font-weight-m: 400
  --font-weight-l: 500
  --font-weight-xl: 600
  --font-weight-xxl: 700

  --gap-l: 12px
  --gap-xl: 14px
  --gap-xxl: 18px
  --gap-xxxl: 21px
  --gap-xxxxl: 25px
  --gap-super: 28px
  --gap-super-l: 31px

  --line-height-s: 15px
  --line-height-l: 20px
  --line-height-xxxl: 26px

  --size-m: 45px
  --size-l: 56px
  --size-xxxl: 106px

  --avatar-size-m: var(--size-xxxl)

  --big-block-border-radius: var(--border-radius-xxl)
  --big-block-border-radius-alter: var(--border-radius-l)
  --big-block-border-width: var(--border-width-s)
  --big-block-padding-top: var(--gap-xl)
  --big-block-padding-bottom: var(--gap-xxxl)
  --big-block-padding-right: var(--gap-xxxxl)

  --button-border-radius: var(--border-radius-m)
  --button-font-weight: var(--font-weight-l)
  --button-font-size: var(--font-size-m)
  --button-height: var(--size-m)

  --callout-arrow-size: var(--size-m)
  --callout-size: var(--size-l)

  --card-header-gap: var(--gap-l)
  --card-header-footer-unmargin: 50px

  --common-block-border-width: var(--border-width-m)

  --icon-size-m: 23px

  --page-padding: var(--gap-l)

  --shadow-500: rgba(0, 0, 0, 0.5)
  --shadow-600: rgba(0, 0, 0, 0.67)

  --shadow-s-y: 4px
  --shadow-m-y: 9px

  --shadow-m-radius: 19px

  --social-set-gap: var(--gap-super)
  --social-set-item-gap: var(--gap-super-l)
