.Avatar
  position: relative

  box-sizing: border-box

  &_Size
    &_m
      height: calc(var(--avatar-size-m) + 5px)
      min-width: var(--avatar-size-m)
      width: var(--avatar-size-m)

    &_s
      height: var(--avatar-size-s)
      min-width: var(--avatar-size-s)
      width: var(--avatar-size-s)

  &_Theme
    &_white
      background: linear-gradient(to bottom, var(--color-white), var(--color-gray-400))

    &_blue
      background: linear-gradient(1.13deg, #166BEA -5.05%, #169BE6 94.59%)

  &_Rounded
    &_xl
      border-radius: var(--border-radius-xxxl)

      .Avatar-Image
        border-radius: calc(var(--border-radius-xxxl) - var(--common-block-border-width))

    &_circle
      border-radius: 50%

      .Avatar-Image
        border-radius: 50%

  &-Image
    position: absolute
    top: var(--common-block-border-width)
    right: var(--common-block-border-width)
    bottom: var(--common-block-border-width)
    left: var(--common-block-border-width)

    background-size: cover
