.RegisterPage
  box-sizing: border-box
  min-height: 100vh
  padding: var(--page-padding) var(--page-padding) 0

  background: var(--page-background)

  &-Header
    display: flex

  &-CardCarousel
    margin: 21px var(--page-register-carousel-margin) 26px
    max-width: calc(100vw - 2 * var(--page-register-carousel-margin) - 2 * var(--page-padding))

    .VueCarousel-dot
      background: linear-gradient(62.29deg, #26272C 7.86%, #1F2026 94.65%)
      background-clip: content-box

      opacity: .7

      &.VueCarousel-dot--active
        background: linear-gradient(106.4deg, #0061C8 11.37%, #5AEDFF 83.54%)
        background-clip: content-box

  &-FinalAvatar
    position: absolute

    top: calc(-0.5 * var(--avatar-size-m))

  &-FinalLink
    position: absolute
    bottom: 13px

    width: calc(100% - 2 * 17px)

  &-LinkInput
    margin: var(--page-register-link-input-space) 0 var(--page-register-link-input-bottom-space)

  &-Name
    flex-grow: 1

    margin-left: 15px

  &-Panel
    box-sizing: border-box

    padding: var(--page-register-panel-padding-top) var(--page-register-panel-padding-h) var(--page-register-panel-padding-bottom)
    margin-bottom: var(--page-register-panel-bottom-space)

    border: var(--page-register-panel-border-width) solid var(--page-register-panel-border-color)
    border-radius: var(--page-register-panel-border-radius)

    background: var(--page-register-panel-background)

    box-shadow: 0 var(--page-register-panel-shadow-y) var(--page-register-panel-shadow-radius) var(--page-register-panel-shadow-color)

    &_Final
      position: relative

      display: flex
      justify-content: center
      align-items: center

      min-height: var(--page-register-panel-final-size)
      margin-top: 74px

  &-PanelHeader
    display: flex
    align-items: center

  &-PanelFooter
    display: grid
    grid-template-areas:\
      "a a"\
      "b c"
    grid-template-rows: var(--page-register-panel-placeholder-slim-size) var(--page-register-panel-placeholder-normal-size)
    grid-template-columns: 1fr 1fr
    grid-gap: var(--page-register-panel-placeholders-v-gap) var(--page-register-panel-placeholders-h-gap)

    margin-top: var(--page-register-panel-footer-space)

  &-PanelTextPlaceholder
    position: relative
    grid-area: a

  &-PanelButtonPlaceholder
    position: relative

    &:nth-child(2)
      grid-area: b

    &:nth-child(3)
      grid-area: c

  &-Progress
    font-weight: var(--page-register-progress-font-weight)
    flex: 1

    margin-left: var(--page-register-progress-gap)

  &-ProgressTop
    display: flex
    justify-content: space-between

  &-ProgressBar
    margin-top: var(--page-register-progress-space)

    .k-progress,
    .k-progress-outer
      margin: 0
      padding: 0

  &-FinalTip,
  &-Profession
    margin: calc(var(--page-register-profession-top-space) - var(--page-register-panel-bottom-space)) 0 var(--page-register-profession-bottom-space)

  &-SkipButton
    margin-top: var(--page-register-skip-button-space)

  &-SubmitContainer_Slim
    padding: 0 var(--page-register-slim-submit-gap)

  &-Title
    margin-top: var(--page-register-title-space)

    &_Top
      margin-top: var(--page-register-title-top-space)

  &-UploadAvatar
    position: relative
    z-index: 1

    display: flex
    justify-content: center

    height: var(--page-register-avatar-size)
    margin: var(--page-register-avatar-top-space) 0 var(--page-register-avatar-bottom-space)

    text-align: center

  &-UploadDropzone[class]
    position: absolute
    top: var(--page-register-avatar-border)
    right: var(--page-register-avatar-border)
    bottom: var(--page-register-avatar-border)
    left: var(--page-register-avatar-border)

    min-height: auto
    padding: 0

    border: var(--page-register-avatar-inner-border) solid var(--page-register-avatar-inner-border-color)
    border-radius: 50%

    background: linear-gradient(118.41deg, #393a3c 33.22%, #4b4d4f 90.77%)

    .dz-preview
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0

      margin: 0

      overflow: hidden

      border-radius: 50%

    .dz-message
      position: absolute
      top: 0
      right 0
      bottom: 0
      left: 0

      margin-bottom: var(--page-register-avatar-text-bottom-space)

      font-size: var(--su-typo-font-xxs)
      color: var(--page-register-avatar-text-color)

      background: url('../../assets/camera.svg') 50% 0% no-repeat

      span
        position: absolute
        right 0
        bottom: 0
        left: 0

        text-align: center

    .dz-error-mark[class],
    .dz-success-mark[class]
      display: none

  &-UploadAvatarCamera,
  &-UploadAvatarDelete
    position: relative
    z-index: -1

    align-self: center
    height: var(--page-register-avatar-buttons-size)

    background-position: center
    background-repeat: no-repeat

    transition-duration: 0.8s

    &:after
      position: relative
      top: var(--page-register-avatar-buttons-text-top)

  &-UploadAvatarCamera
    right: -72px

    background-image: url('../../assets/camera-blue.svg')

    transition-property: right

    &:after
      content: 'Загрузить'

    .RegisterPage-UploadAvatar_Status_Success &
      right: 14px

  &-UploadAvatarDelete
    left: -72px

    background-image: url('../../assets/x-circle.svg')

    transition-property: left

    &:after
      content: 'Удалить'

    .RegisterPage-UploadAvatar_Status_Success &
      left: 14px

  &-UploadAvatarIndicator
    position: relative
    display: inline-block

    height var(--page-register-avatar-size)
    width: var(--page-register-avatar-size)

    overflow: hidden

    border-radius: 50%

    background: linear-gradient(180deg, #00AEFF 0%, #0076FF 100%)

    .RegisterPage-UploadAvatar_Status_Success &
      background: linear-gradient(180deg, #06DF57 0%, #18AD00 100%)

      .RegisterPage
        &-UploadDropzone[class]
          border: var(--page-register-avatar-success-inner-border) solid var(--page-register-avatar-success-inner-border-color)
